/********************

  基本的には触らないCSS　

*********************/

@charset "utf-8";
/*ボタンが点滅*/
.reflection_btn {
  position: relative;
  display: block;
  width: 750px;
  top: 220px;
  margin: 0 auto;
  height: 164px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
}

.reflection_btn::after{
  content: '';
  position: absolute;
  top: -10%;
  left: -20%;
  width: 40px;
  height: 100%;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, .5) 100%, rgba(255, 255, 255, 0) 0%);

  /* アニメーション */
  animation: reflection 2s ease-in-out infinite;
  -webkit-transform: rotate(45deg);
  -webkit-animation: reflection 2s ease-in-out infinite;
  -moz-transform: rotate(45deg);
  -moz-animation: reflection 2s ease-in-out infinite;
  -ms-transform: rotate(45deg);
  -ms-animation: reflection 2s ease-in-out infinite;
  -o-transform: rotate(45deg);
  -o-animation: reflection 2s ease-in-out infinite;
}

@keyframes reflection {
  0% { transform: scale(0) rotate(45deg); opacity: 0; }
  80% { transform: scale(0) rotate(45deg); opacity: 0.3; }
  81% { transform: scale(4) rotate(45deg); opacity: 0.8; }
  100% { transform: scale(50) rotate(45deg); opacity: 0; }
}
@-webkit-keyframes reflection {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.3; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 0.8; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-moz-keyframes reflection {
  0% { -moz-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -moz-transform: scale(0) rotate(45deg); opacity: 0.3; }
  81% { -moz-transform: scale(4) rotate(45deg); opacity: 0.8; }
  100% { -moz-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-ms-keyframes reflection {
  0% { -ms-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -ms-transform: scale(0) rotate(45deg); opacity: 0.3; }
  81% { -ms-transform: scale(4) rotate(45deg); opacity: 0.8; }
  100% { -ms-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-o-keyframes reflection {
  0% { -o-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -o-transform: scale(0) rotate(45deg); opacity: 0.3; }
  81% { -o-transform: scale(4) rotate(45deg); opacity: 0.8; }
  100% { -o-transform: scale(50) rotate(45deg); opacity: 0; }
}
